<h2 id="title">Welcome to Ember</h2>

{{outlet}}

//k-autocomplete
{{#k-autocomplete}}
  <h2>k-autocomplete</h2>
{{/k-autocomplete}}

//k-colorpicker
{{#k-colorpicker}}
  <h2>k-colorpicker</h2>
{{/k-colorpicker}}

//k-combobox
{{#k-combobox}}
  <h2>k-combobox</h2>
{{/k-combobox}}

//k-datepicker
{{#k-datepicker}}
  <h2>k-datepicker</h2>
{{/k-datepicker}}

//k-datetimepicker
{{#k-datetimepicker}}
  <h2>k-datetimepicker</h2>
{{/k-datetimepicker}}

//k-dropdownlist
{{#k-dropdownlist}}
  <h2>k-dropdownlist</h2>
{{/k-dropdownlist}}

//k-maskedtextbox
{{#k-maskedtextbox}}
  <h2>k-maskedtextbox</h2>
{{/k-maskedtextbox}}

//k-multiselect
{{#k-multiselect}}
  <h2>k-multiselect</h2>
{{/k-multiselect}}

//k-numerictextbox
{{#k-numerictextbox}}
  <h2>k-numerictextbox</h2>
{{/k-numerictextbox}}

//k-slider
{{#k-slider}}
  <h2>k-slider</h2>
{{/k-slider}}

//k-timepicker
{{#k-timepicker}}
  <h2>k-timepicker</h2>
{{/k-timepicker}}
